.calcbody{
    width: 400px;
    height: 650px;
    background-color: rgb(19, 18, 18);
    margin-left: 400px;
    border-radius: 29px;
}
.screen{
    height: 60px;
    width: 325px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 13px;
    border: solid 1px;
    font-size: x-large;
    font-family: fantasy;

}
.button{
    border-radius: 19px;
    background-color: rgb(19, 18, 18);
    height: 74%;
    margin-top: 34px;
    margin-left: 32px;
    width: 86%;

}
.row{
    height: 15%;
    width: 100%;

}
.btn{
    height: 67%;
    width: 21%;
    margin-left: 2%;
    margin-top: 13%;
    border-radius: 13px;
    background-color: transparent;
    color: aliceblue;
    font-family: revert;
    font-size: x-large;
}
:hover.btn{
    background-color: gray;
}
:hover.clr{
    background-color: rgb(187, 177, 177);
}
.clr{
    width: 25%;
    height: 9%;
    margin-top: 24px;
    margin-left: 11px;
    border-radius: 12px;
    font-size: x-large;
    font-family: serif
}